.monster-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.monster-img-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	padding-left: 10em;
}

.try-again {
	border: none;
	font-size: 2em;
	color: #2ab10b;
}

.food-container {
	height: 50vw;
}

.food-container,
.monster-chooser-container {
	/* height: 30em; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.con {
	margin-top: 2em;
}

.overfeed {
	color: #fd151b;
}
.sorry-message {
	padding: 16vw;
}

svg {
	height: 40vw;
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

.yourMonster {
	padding: 2em;
}

#dead {
	height: 10vw;
	-webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----- Animations ------ */

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
