.name-container,
form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.favMonster-container {
	display: flex;
	justify-content: center;
}

form {
	height: 30vw;
	padding: 3em;
}

.greeting {
	margin-bottom: 3em;
}
