body {
	font-family: 'Roboto Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #1e1e24;
	color: #2ab10b;
	height: 100%;
}

* {
	margin: 0;
}
html,
body {
	height: 100%;
}
